.person{
    border:solid;
    padding:16px;
    margin:8px;
    width: 400px;
    float:left;
}

.flex-container{
    display:flex;
    flex-direction:row;
    max-width: fit-content;
    margin:auto;
}

.person_image{
    height: 300px;
}
@media (max-width:900px) {
    .flex-container{
        flex-direction:column;
    }
}

.app_image{
    height: 700px;
    margin: 20px;
}

header{
    width:50%;
    margin:auto;
}

body{
    width:90%;
    margin:auto;
}
