html {
    width: 600px;
    margin: auto;
}
.Title{
    font-size: 50px;
    font-weight: bold;
}
.Intro{
    font-size: 30px
}

.Images{
    height: 400px;
}
.Name{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.Membertext{
    margin: 5px
}
.SubTitles{
    font-size: 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-right: 250px;
}
.AppUI{
    height: 700px;
    margin: 20px;
}
